h1 {
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20px;
    margin-top: 20px;
}

.form label {
    margin-top: 5px;
}

.btn {
    margin-top: 10px;
    background-color: rgb(98, 255, 255);
    align-self: center;
    text-align: center;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}

.btn:hover {
    transform: translateY(2px);
    box-shadow: 2px 5px 5px rgb(25, 125, 165);
  }